<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Movie Magic</title>
</head>
<body >
    <%- include('./partials/nav.ejs') %>
    <div class="hero">
        <img src=<%-`//image.tmdb.org/t/p/original/${movie.backdrop_path}`%> alt="">
    </div>
    <div class="rate">
        <img src="../assets/img/Vector.svg" alt="">
        <h5>
            <span>
                <%= movie.vote_average %> 
            </span> /10
        </h5>
        <h6>
            <%= movie.popularity %> 
        </h6>
    </div>
    <div>
        
            

            <% if(result == null){ %>
                <div id="add">
                    <form action="/new" method="POST"> 
                    <!-- add fav -->
                    
                        <input type="hidden" value="<%=movie.id %>" name="_id">
                        <input type="hidden" value="<%=movie.id %>" name="id">
                        <input type="hidden" name="poster_path" id="" 
                        value="<%=movie.poster_path %>">
                        <input type="hidden" name="title" id="" 
                        value="<%=movie.title %>">
                        <input type="hidden" name="overview" id=""  value="<%=movie.overview %>">
                        <div>
                        <input type="submit" id="update" value="+" >
                        </div>
                    </form>
                    
                    <h1>Add to favourite</h1>
                </div>
                <% } else { %>
                    <div id="remove">
                        <a href=<%=`/delete/${movie.id}` %> id="delete" >-</a>
                        <h1>Remove from favourite</h1>
                    </div>
                    <%}%> 
        
        
    
            
         
    </div>
    <section class="content">
        <h1>
            <%= movie.title %> 
        </h1>
        <ul>
            <li>
                <%= movie.release_date %> 
            </li>
            <li id="status">
                <%= movie.status %> 
            </li>
        </ul>
        <div class="genres">
            <% movie.genres.forEach(elt => { %>
                <a href=<%= `/search/${elt.id}/1` %> class="genreTag">
                    <%= elt.name %> 
                </a>
                <% }) %>
        </div>
        <h2>Plot Summary</h2>
        <p>
            <%= movie.overview %> 
        </p>
    </section>
    <script src="/assets/js/main.js"></script>
</body>
</html>

