<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Magic</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1 id="myShowsHeadline">MYSHOWS</h1>

    <section class="gridContainer myShowContainer">
        <% results.forEach(elt => { %>
        <a href=<%= `/detail/${elt.id}` %> >
         <div>
             <div class="imgContainerMyShows container">
             <img src=<%-`//image.tmdb.org/t/p/w500/${elt.poster_path}`%> alt="">
             <div class="overlay">
                <h4 class="textHeader"><%-elt.title.substring(0, 30)%></h4>
               <p class="text"><%-elt.overview.substring(0, 180) %> ...<br><br>
                Click to see more
            </p>
           </div>
            </div>
            
         </div>
        </a>
        <% }) %>
        </section>

    

</body>
</html>

